.about {
  color: aliceblue;
  display: grid;
  grid-template-columns: 3fr 1.4fr;
  grid-gap: 40px;
  height: 50vh;
}

.a-des {
  display: flex;
  flex-direction: column;
  margin: 90px;
  text-align: justify;
}

.a-des .a-title {
  padding-bottom: 15px;

}



.a-des > p {
  font-size: 1.3rem;
  font-weight: 200;
}

.a-img {
  display: block;
  width: 100%;
}

.a-img > img {
  object-fit: cover;
  max-width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .about {
    display: flex;
    flex-direction: column;
    height: 75vh;
    
  }

  .a-des {
    margin: 35px;
    text-align: left;
    
  }
  .a-img {
    display: inline-block;
    margin-bottom: 50px;
    
  }

  .a-img > img {
    width: 200px;
    height: 250px;
    
  }

  .a-des > p {
    font-size: 18px;
    font-weight: 200;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
  .about {
    display: grid;
    grid-template-columns: 2fr 1.4fr;
    height: 60vh;
    text-align: left;
  }

  .a-des {
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding-left: 15px;
    text-align: left;
  }

  .a-des > p {
    font-size: 18px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .about {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    height: 45vh;
    text-align: left;
  }

  .a-des {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding-left: 15px;
    text-align: left;
  }
}


