/* Base styles */
.about {
  color: aliceblue;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 3fr 1.4fr;
}

.a-des {
  display: flex;
  flex-direction: column;
  margin: 70px 0 0 140px;
  padding: 0 20px;
  text-align: justify;
  max-width: 60%;
}

.a-title {
  padding-bottom: 15px;
  letter-spacing: 4px;
  font-size: 2rem;
  border-bottom: 1px solid white;
  padding-bottom: 8px;
  display: inline-block;
}

.a-des > p {
  font-size: 1.4rem;
  font-weight: 200;
}

.a-img {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-left: -50px;
}

.a-img > img {
  object-fit: cover;
  max-width: 100%;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 1024px) {
  .about {
    grid-template-columns: 1fr;
    align-items: center; 
  }

  .a-des {
    margin: 30px auto; 
    max-width: 70%;
  }

  .a-img {
    margin: 0 auto; /* Center the image horizontally */
    margin-top: 20px; /* Maintain the top margin */
    margin-left: 0; /* Reset the left margin */
  }
}

@media only screen and (max-width: 768px) {
  .a-des {
    font-size: 1.2rem;
    max-width: 75%; 
  }
}

@media only screen and (max-width: 480px) {
  .a-des >p{
    font-size: 1.2rem;
  }
  .a-des {
    max-width: 85%; 
  }
}
